<div class="unit-container">
    <span class="spec-label unit-title">Unit # {{unit.Id}}</span> <br> <br>
    <div class="param-column">
        
        <div class="param-container"><span class="spec-label">Series:</span> {{unit.Series.answerText}} <span *ngIf="unit.Series.answerImage"><img [src]="unit.Series.answerImage"/></span></div>
        <div class="param-container"><span class="spec-label">Type:</span> {{unit.ProductType.answerText}} <span *ngIf="unit.ProductType.answerImage"><img [src]="unit.ProductType.answerImage"/></span></div>
        <div class="param-container"><span class="spec-label">Species:</span> {{unit.InteriorSpecies.answerText}} <span *ngIf="unit.InteriorSpecies.answerImage"><img [src]="unit.InteriorSpecies.answerImage"/></span></div>
        <div class="param-container"><span class="spec-label">Stain:</span> {{unit.StainOption.answerText}} <span *ngIf="unit.StainOption.answerImage"><img [src]="unit.StainOption.answerImage"/></span></div>
    </div>
    <div class="param-column">
        <div class="param-container"><span class="spec-label">Int Color:</span> {{unit.InteriorColor.answerText}} <span *ngIf="unit.InteriorColor.answerImage"><img [src]="unit.InteriorColor.answerImage"/></span></div>
        <div class="param-container"><span class="spec-label">Ext Color:</span> {{unit.ExteriorColor.answerText}} <span *ngIf="unit.ExteriorColor.answerImage"><img [src]="unit.ExteriorColor.answerImage"/></span></div>
        <div class="param-container"><span class="spec-label">Hardware:</span> {{unit.HardwareFinish.answerText}} <span *ngIf="unit.HardwareFinish.answerImage"><img [src]="unit.HardwareFinish.answerImage"/></span></div>
        <div class="param-container"><span class="spec-label">Glass Performance:</span> {{unit.GlassPerformanceOption.answerText}} <span *ngIf="unit.GlassPerformanceOption.answerImage"><img [src]="unit.GlassPerformanceOption.answerImage"/></span></div>
        <div class="param-container"><span class="spec-label">Stormwatch:</span> {{unit.Stormwatch.answerText}} <span *ngIf="unit.Stormwatch.answerImage"><img [src]="unit.Stormwatch.answerImage"/></span></div>
    </div>
  
</div>
