.content {
    padding:40px;
}
.page-header{
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 40px;
}

.left-column {

}
.right-column {
padding:40px;
}

.column-container{
    display: flex;
}

.spec-label{
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

.unit-container{
    display:flex;

}
.param-container{
    height: 150px;
}
.param-column{
    display:flex;
    flex-direction: column;
    width: 400px;
}

.unit-title{
    font-size: 1.5em;
    text-decoration: underline;
}