.contact-info{
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}
.contact-section{
    padding:40px;
}
.contact-field{
    padding-top: 10px;
    padding-left: 25px;
}

input{
    width:200px;
    border-radius: 2px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding:5px;
}

select{
    width: 210px;
    border-radius: 2px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding: 5px;
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.contact-button{
    font-size: 1.2em;
    background-color: #f16128;
    color:white;
    width:100px;
    height:40px;
    border:0;
    cursor: pointer;
    box-shadow: 1px 1px 1px #888888;

}
.button-container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}