<div class="content" role="main">
    <div class="contact-info">
        <div class="contact-section">
            <form #contactForm="ngForm">
                <h1>Contact Information</h1>
                <div class="contact-field">
                    <div>Date Submitted:</div>
                    <input type="date" [(ngModel)]="packet.contact.date" name="dateSubmitted" />
                </div>
                <div class="contact-field">
                    <div>Submitted By:</div>
                    <input type="text" [(ngModel)]="packet.contact.submittedBy" name="submittedBy" placeholder="Enter a name" />
                </div>
                <div class="contact-field">
                    <div>Company:</div>
                    <input type="text" [(ngModel)]="packet.contact.company" name="company" placeholder="Enter a company" />
                </div>
                <div class="contact-field">
                    <div>Job Title:</div>
                    <input type="text" [(ngModel)]="packet.contact.jobTitle" name="job" placeholder="Enter a job title" />
                </div>
                <div class="contact-field">
                    <div>Phone:</div>
                    <input type="text" [(ngModel)]="packet.contact.phone" name="phone" placeholder="Enter a phone number" />
                </div>
                <div class="contact-field">
                    <div>Email:</div>
                    <input type="text" [(ngModel)]="packet.contact.email" name="email" placeholder="Enter an email" />
                </div>
            </form>
        </div>
        <div class="contact-section">
            <form #projectForm="ngForm">
                <h1>Project Description</h1>
                <div class="contact-field">
                    <div>Project Name:</div>
                    <input type="text" [(ngModel)]="packet.project.name" name="projectName" placeholder="Enter a project name" />
                </div>
                <div class="contact-field">
                    <div>Project City:</div>
                    <input type="text" [(ngModel)]="packet.project.city" name="city" placeholder="Enter a city" />
                </div>
                <div class="contact-field">
                    <div>Project State:</div>
                    <select [(ngModel)]="packet.project.state" name="state" >
                        <option hidden value="">Select a state</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>
                <div class="contact-field">
                    <div>Architect / Engineer:</div>
                    <input type="text" [(ngModel)]="packet.project.architect" name="architect" placeholder="Enter an architect or engineer" />
                </div>
                <div class="contact-field">
                    <div>General Contractor:</div>
                    <input type="text" [(ngModel)]="packet.project.contractor" name="contractor" placeholder="Enter a contractor" />
                </div>
                <div class="contact-field">
                    <div>Distributor / Dealer:</div>
                    <input type="text" [(ngModel)]="packet.project.dealer" name="dealer" placeholder="Enter a distributor or dealer" />
                </div>
            </form>
        </div>
        
    </div>
    <div class="button-container">
        <button class="contact-button" (click)="saveProjectInformation()">Save Info</button>
    </div>
    
