<div class="content" role="main">
    <div class="file-input-container">
        <input class="inputfile" id='file-input' type='file' #fileupload multiple (change)="fileChange(fileupload.files)" />
        <label for="file-input" class="input-button">Choose a file</label>

        <div class="file-names" *ngIf="selectedFiles.length > 0">
            {{selectedFiles.length}} files
        </div>
        <button class="attachment-button" type='submit' (click)="attachFiles()">
            Attach
        </button>
        

    </div>
    <div class="attached-files" id='file-list-display' *ngFor="let attachment of attachmentList">
        <span>{{attachment.name}} - {{attachment.size}} bytes</span>
    </div>
</div>