.file-input-container{
    width: 33%;
    margin: auto;
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 50px;
}

.attachment-button{
    font-size: 1.2em;
    background-color: #f16128;
    color:white;
    width:100px;
    height:40px;
    border:0;
    cursor: pointer;
    box-shadow: 1px 1px 1px #888888;
}

.attachment-button:active{
    box-shadow: none;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}
.inputfile + label {
    color: white;
    display: inline-block;

    font-size: 1.2em;
    background-color: #f16128;
    color:white;
    width:150px;
    height:40px;
    border:0;
    cursor: pointer;
    font-family: Arial;
    box-shadow: 5px 10px;
    box-shadow: 2px 2px 1px #888888;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #f16128; 
}

.inputfile + label:active {
    box-shadow: none;
}

.input-button{
    text-align: center;
    padding-top: 10px;
    height: 30px !important;
    font-family: Arial !important;
}

.file-names{
    color: black;
    width: 40%;
    padding-top: 10px;
}
.attached-files{
    width: 50%;
    margin: auto;
    padding: 5px;
    text-align: center;
}