<div class="content" role="main">
    <form id='file-catcher'>
        <input id='file-input' type='file' multiple/>
        <button type='submit'>
            Attach
        </button>
    </form>
      
    <div id='file-list-display'></div>
</div>