.question-component{
    width: 300px;
    font-size: 1.2em;
    max-width: 300px;
}
.question-container{
    text-align: left;
    background-color: lightgray;  
    border-color: gray;
    border-width: .2px;
    border-style: solid;
    height: 40px;
    padding: 10px;
    padding-left:15px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.expand-toggle{
    font-size: 2em;
    line-height: 35px;
    padding-right: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.option-container{
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.option{
    margin: 10px;
    padding: 10px;
    font-size: 0.875rem;
    /* font-weight: 300; */
    text-align: center;
    width: 90px;
    height: fit-content;
    cursor: pointer;
}
.answer-text{
    display:block;
}

.selected-option{
    background-color: dimgray;
    border-radius: 5px;
    color: white;
}

.green-check{
    color:green !important;
}
