<div class="question-component">
    <div (click)="toggleOpen()" class="question-container">
        <span *ngIf="selectedOption.answerName">{{option.question}} <span class="green-check">&nbsp;&#10003;</span></span>
        <span *ngIf="!selectedOption.answerName">{{option.question}}</span>
        <div class="expand-toggle"><span *ngIf="!isOpen">+</span><span *ngIf="isOpen">-</span></div>
    </div>
    <div *ngIf="isOpen" class="option-container">
        <div class="option" *ngFor="let answer of option.answers" (click)="selectOption(answer)" [class.selected-option]="answer==selectedOption">
            <span *ngIf="answer.answerImage"><img [src]="answer.answerImage"/></span>
            <span class="answer-text">{{answer.answerName}}</span>
        </div>
    </div>
</div>
