<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="200"
    alt="Andersen Windows Logo"
    src="././assets/Andersen_Logo_Horz_Clr_Vector.svg"
  />
  <span>Submittal Packet Builder</span>
  <div class="nav-bar">
    
      <a class="nav-link" routerLink="/contact" routerLinkActive="active"><div class="nav-button">Contact Information</div></a>
      <a class="nav-link" routerLink="/units" routerLinkActive="active"><div class="nav-button">Unit Information</div></a>
      <a class="nav-link" routerLink="/install" routerLinkActive="active"><div class="nav-button">Installation Guide</div></a>
      <a class="nav-link" routerLink="/attachment" routerLinkActive="active"><div class="nav-button">Other Attachments</div></a>    
      <a class="nav-link" routerLink="/review" routerLinkActive="active"><div class="nav-button">Review & Submit</div></a>
    
  </div>
  <!-- Footer -->
  <footer>

  </footer>

</div>

<router-outlet></router-outlet>