<h1>Contact Information</h1>
<b>Company: </b>{{packet.contact.company}} <br>
<b>Date: </b>{{packet.contact.date}} <br>
<b>Email: </b>{{packet.contact.email}} <br>
<b>Job Title: </b>{{packet.contact.jobTitle}} <br>
<b>Phone: </b>{{packet.contact.phone}} <br>
<b>Submitted By: </b>{{packet.contact.submittedBy}} <br>

<h1>Project Description</h1>
<b>Architect: </b>{{packet.project.architect}} <br>
<b>City: </b>{{packet.project.city}} <br>
<b>Contractor: </b>{{packet.project.contractor}} <br>
<b>Dealer: </b>{{packet.project.dealer}} <br>
<b>Name: </b>{{packet.project.name}} <br>
<b>State: </b>{{packet.project.state}} <br>

<h1>Unit List</h1>
<div *ngIf="packet.units.length > 0">
    <div class="review-units">
        <app-unit *ngFor="let unit of packet.units"
            [unit]=unit>
        </app-unit>
    
        <div>
            <img [src]="performanceimg"/>
        </div>
    </div>
</div>

<h1>Attached Files</h1>
<div class="attached-files" id='file-list-display' *ngFor="let attachment of packet.additionalFiles">
    <span>{{attachment.name}} - {{attachment.size}} bytes</span>
</div>