.content {
    padding:40px;
}
.page-header{
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 40px;
}

.left-column {

}
.right-column {
padding:40px;
}

.column-container{
    display: flex;
}

.spec-label{
    font-weight: bold;
    font-size: 1.2em;
    padding: 5px;
    width: 100px;
    display: inline-block;
}
.add-unit-button{
    font-size: 1.2em;
    background-color: #f16128;
    color:white;
    width:100px;
    height:40px;
    border:0;
    margin:20px;
    box-shadow: 1px 1px 1px #888888;
}

.add-unit-button:active{
    box-shadow: none;
}