<div class="content" role="main">
  
    <div class="page-header">Unit Spec Questions:</div>

    <div class="column-container">
    <div class="left-column">
      <app-question *ngFor="let question of questionList"
        [option]=question
        (answer)="getUpdatedData($event)">
      </app-question>
    </div>
    
    <div class="right-column">
      <app-unit *ngFor="let unit of unitList"
        [unit]=unit>
      </app-unit>
    </div>
    <div class="righter-column">
      <button class="add-unit-button" (click)="saveProjectInformation()">Save Unit</button>
      <div *ngFor="let unit of unitList">
        <!-- Unit #{{unit.Id}} -->
    </div>
    </div>
</div>
</div>